<div class="loggedIn">
  <p class="lead mb-3 ml-4" style=" display: inline-block;">
    Logged in as: < %=name %>
  </p>
  <a href="/admins/logout" class="btn btn-secondary logoutBtn">Logout</a>
</div>

<header class="adminDashboard">
  <a href="/dashboard">
    <h1 class="mt-4 ">Dashboard</h1>
  </a>
</header>
<i class="fas fa-shopping-basket"> </i>
<div class="navbar">
  <a href="/"> StartPage</a>
  <a class="active" href="/admins/register"> Create Admin</a>
  <a href="/products"> Products</a>
  <a href="/products/new"> New Products</a>
</div>