<footer>
    <div class="copyRight">
        <p style="text-align: center"> Copyright &copy;
            <script>document.write(new Date().getFullYear())</script>
            WebStore All Rights Reserved
        </p>
    </div>
</footer>