<footer>
  <div class="footer-container">
    <div class="left-col">
      <!-- <h1 class="logoFooter">WebStore</h1> -->
      <div>
        <svg id="svgLogo" width="100%" height="45" viewBox="0 0 696 114" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M137.232 9.632L108.144 110H93.456L70.128 29.216L45.936 110L31.392 110.144L3.31201 9.632H17.28L39.168 94.736L63.36 9.632H78.048L101.088 94.448L123.12 9.632H137.232Z"
            stroke="red" stroke-width="2" />
          <path
            d="M223.572 67.52C223.572 70.016 223.428 72.656 223.14 75.44H160.068C160.548 83.216 163.188 89.312 167.988 93.728C172.884 98.048 178.788 100.208 185.7 100.208C191.364 100.208 196.068 98.912 199.812 96.32C203.652 93.632 206.34 90.08 207.876 85.664H221.988C219.876 93.248 215.652 99.44 209.316 104.24C202.98 108.944 195.108 111.296 185.7 111.296C178.212 111.296 171.492 109.616 165.54 106.256C159.684 102.896 155.076 98.144 151.716 92C148.356 85.76 146.676 78.56 146.676 70.4C146.676 62.24 148.308 55.088 151.572 48.944C154.836 42.8 159.396 38.096 165.252 34.832C171.204 31.472 178.02 29.792 185.7 29.792C193.188 29.792 199.812 31.424 205.572 34.688C211.332 37.952 215.748 42.464 218.82 48.224C221.988 53.888 223.572 60.32 223.572 67.52ZM210.036 64.784C210.036 59.792 208.932 55.52 206.724 51.968C204.516 48.32 201.492 45.584 197.652 43.76C193.908 41.84 189.732 40.88 185.124 40.88C178.5 40.88 172.836 42.992 168.132 47.216C163.524 51.44 160.884 57.296 160.212 64.784H210.036Z"
            stroke="red" stroke-width="2" />
          <path
            d="M253.973 45.776C256.661 41.072 260.597 37.232 265.781 34.256C270.965 31.28 276.869 29.792 283.493 29.792C290.597 29.792 296.981 31.472 302.645 34.832C308.309 38.192 312.773 42.944 316.037 49.088C319.301 55.136 320.933 62.192 320.933 70.256C320.933 78.224 319.301 85.328 316.037 91.568C312.773 97.808 308.261 102.656 302.501 106.112C296.837 109.568 290.501 111.296 283.493 111.296C276.677 111.296 270.677 109.808 265.493 106.832C260.405 103.856 256.565 100.064 253.973 95.456V110H240.869V3.44H253.973V45.776ZM307.541 70.256C307.541 64.304 306.341 59.12 303.941 54.704C301.541 50.288 298.277 46.928 294.149 44.624C290.117 42.32 285.653 41.168 280.757 41.168C275.957 41.168 271.493 42.368 267.365 44.768C263.333 47.072 260.069 50.48 257.573 54.992C255.173 59.408 253.973 64.544 253.973 70.4C253.973 76.352 255.173 81.584 257.573 86.096C260.069 90.512 263.333 93.92 267.365 96.32C271.493 98.624 275.957 99.776 280.757 99.776C285.653 99.776 290.117 98.624 294.149 96.32C298.277 93.92 301.541 90.512 303.941 86.096C306.341 81.584 307.541 76.304 307.541 70.256Z"
            stroke="red" stroke-width="2" />
          <path
            d="M370.006 111.008C363.382 111.008 357.43 109.856 352.15 107.552C346.966 105.152 342.886 101.888 339.91 97.76C336.934 93.536 335.398 88.688 335.302 83.216H349.27C349.75 87.92 351.67 91.904 355.03 95.168C358.486 98.336 363.478 99.92 370.006 99.92C376.246 99.92 381.142 98.384 384.694 95.312C388.342 92.144 390.166 88.112 390.166 83.216C390.166 79.376 389.11 76.256 386.998 73.856C384.886 71.456 382.246 69.632 379.078 68.384C375.91 67.136 371.638 65.792 366.262 64.352C359.638 62.624 354.31 60.896 350.278 59.168C346.342 57.44 342.934 54.752 340.054 51.104C337.27 47.36 335.878 42.368 335.878 36.128C335.878 30.656 337.27 25.808 340.054 21.584C342.838 17.36 346.726 14.096 351.718 11.792C356.806 9.488 362.614 8.336 369.142 8.336C378.55 8.336 386.23 10.688 392.182 15.392C398.23 20.096 401.638 26.336 402.406 34.112H388.006C387.526 30.272 385.51 26.912 381.958 24.032C378.406 21.056 373.702 19.568 367.846 19.568C362.374 19.568 357.91 21.008 354.454 23.888C350.998 26.672 349.27 30.608 349.27 35.696C349.27 39.344 350.278 42.32 352.294 44.624C354.406 46.928 356.95 48.704 359.926 49.952C362.998 51.104 367.27 52.448 372.742 53.984C379.366 55.808 384.694 57.632 388.726 59.456C392.758 61.184 396.214 63.92 399.094 67.664C401.974 71.312 403.414 76.304 403.414 82.64C403.414 87.536 402.118 92.144 399.526 96.464C396.934 100.784 393.094 104.288 388.006 106.976C382.918 109.664 376.918 111.008 370.006 111.008Z"
            stroke="red" stroke-width="2" />
          <path
            d="M438.681 41.888V88.4C438.681 92.24 439.497 94.976 441.129 96.608C442.761 98.144 445.593 98.912 449.625 98.912H459.273V110H447.465C440.169 110 434.697 108.32 431.049 104.96C427.401 101.6 425.577 96.08 425.577 88.4V41.888H415.353V31.088H425.577V11.216H438.681V31.088H459.273V41.888H438.681Z"
            stroke="red" stroke-width="2" />
          <path
            d="M509.566 111.296C502.174 111.296 495.454 109.616 489.406 106.256C483.454 102.896 478.75 98.144 475.294 92C471.934 85.76 470.254 78.56 470.254 70.4C470.254 62.336 471.983 55.232 475.439 49.088C478.991 42.848 483.791 38.096 489.839 34.832C495.887 31.472 502.655 29.792 510.143 29.792C517.631 29.792 524.399 31.472 530.447 34.832C536.495 38.096 541.247 42.8 544.703 48.944C548.255 55.088 550.031 62.24 550.031 70.4C550.031 78.56 548.206 85.76 544.558 92C541.006 98.144 536.159 102.896 530.015 106.256C523.871 109.616 517.054 111.296 509.566 111.296ZM509.566 99.776C514.27 99.776 518.687 98.672 522.815 96.464C526.943 94.256 530.254 90.944 532.75 86.528C535.342 82.112 536.638 76.736 536.638 70.4C536.638 64.064 535.391 58.688 532.895 54.272C530.399 49.856 527.134 46.592 523.102 44.48C519.07 42.272 514.703 41.168 509.999 41.168C505.199 41.168 500.782 42.272 496.75 44.48C492.814 46.592 489.646 49.856 487.246 54.272C484.846 58.688 483.647 64.064 483.647 70.4C483.647 76.832 484.799 82.256 487.103 86.672C489.503 91.088 492.671 94.4 496.607 96.608C500.543 98.72 504.862 99.776 509.566 99.776Z"
            stroke="red" stroke-width="2" />
          <path
            d="M580.364 43.904C582.668 39.392 585.932 35.888 590.156 33.392C594.476 30.896 599.708 29.648 605.852 29.648V43.184H602.396C587.708 43.184 580.364 51.152 580.364 67.088V110H567.26V31.088H580.364V43.904Z"
            stroke="red" stroke-width="2" />
          <path
            d="M692.979 67.52C692.979 70.016 692.835 72.656 692.547 75.44H629.475C629.955 83.216 632.595 89.312 637.395 93.728C642.291 98.048 648.195 100.208 655.107 100.208C660.771 100.208 665.475 98.912 669.219 96.32C673.059 93.632 675.747 90.08 677.283 85.664H691.395C689.283 93.248 685.059 99.44 678.723 104.24C672.387 108.944 664.515 111.296 655.107 111.296C647.619 111.296 640.899 109.616 634.947 106.256C629.091 102.896 624.483 98.144 621.123 92C617.763 85.76 616.083 78.56 616.083 70.4C616.083 62.24 617.715 55.088 620.979 48.944C624.243 42.8 628.803 38.096 634.659 34.832C640.611 31.472 647.427 29.792 655.107 29.792C662.595 29.792 669.219 31.424 674.979 34.688C680.739 37.952 685.155 42.464 688.227 48.224C691.395 53.888 692.979 60.32 692.979 67.52ZM679.443 64.784C679.443 59.792 678.339 55.52 676.131 51.968C673.923 48.32 670.899 45.584 667.059 43.76C663.315 41.84 659.139 40.88 654.531 40.88C647.907 40.88 642.243 42.992 637.539 47.216C632.931 51.44 630.291 57.296 629.619 64.784H679.443Z"
            stroke="red" stroke-width="2" />
        </svg>
      </div>
      <div class="border"></div>
      <div class="social-media">
        <a href="https://facebook.com" target="blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com" target="blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com" target="blank"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com" target="blank"><i class="fab fa-youtube"></i></a>
      </div>
      <p class="rights-text">Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        WebStore All Rights Reserved
      </p>
    </div>
    <div class="newsLettContainer">
      <h1>Newsletter</h1>
      <div class="border"></div>
      <p>Keep up with the latest news from WebStore</p>
      <form action="/" method="POST" class="newsletter-form">
        <input type="email" name="email" class="emailInputNewLetter" placeholder="Your Email address" required>
        <button type="submit" class="newsFooterBtn" value="submit">Subscribe now</button>
      </form>
    </div>
  </div>
</footer>