<footer>
  <div class="footer-container">
    <div class="left-col">
      <h1 class="logoFooter">WebStore</h1>
      <div class="border"></div>
      <div class="social-media">
        <a href="https://facebook.com" target="blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com" target="blank"><i class="fab fa-twitter"></i></a>
        <a href="https://instagram.com" target="blank"><i class="fab fa-instagram"></i></a>
        <a href="https://youtube.com" target="blank"><i class="fab fa-youtube"></i></a>
      </div>
      <p class="rights-text">Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        WebStore All Rights Reserved
      </p>
    </div>
    <div class="newsLettContainer">
      <h1>Subscribe for our Newsletter</h1>
      <div class="border"></div>
      <p>Enter Your Email to get our news and updates.</p>
      <form action="" class="newsletter-form">
        <input type="email" class="emailInputNewLetter" placeholder="Enter Your Email" required>
        <button type="submit" class="newsFooterBtn" value="submit">Send</button>
      </form>
    </div>
  </div>
</footer>