<section class="navigation">
    <div class="nav-container">
        <div class="logo">
            <a href="/">WebStore</a>
        </div>
        <nav>
            <div class="nav-mobile">
                <a id="nav-toggle" href="#!"><span></span></a>
            </div>
            <ul class="nav-list">
                <li><a href="/" class="topLine">Home</a></li>
                <li><a href="/store">Store</a></li>

                <li><a href="#!" class="bottomLine">link3</a></li>
                <li><a href="/dashboard">Admin</a></li>
            </ul>
        </nav>
    </div>
</section>