<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p class="errPg4">
                The page you are looking for don't exit <br><br>
                404 <br>
                <button><a style="color: black;" href="/">Home</a></button>
            </p>
        </div>
    </div>
</div>