<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <p>
                The page you are looking for don't exit <br><br>
                404
            </p>
        </div>
    </div>
</div>