<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center" id="errpgContainer">
      <p class="errPg4">404 <br />
        The page you are looking for don't exit <br />

        <div>
          <a onclick="history.back(-1)" type="button" class="btn btn-primary">Go Back</a>
          <a href="/" class="btn btn-primary" style="color: #aaaaaa;">HomePage</a>
        </div>
      </p>
    </div>
  </div>
</div>