<style>
    .activeStore {
        /* background-color: #32383e; */
        background: rgba(51, 48, 48, 0.521);
        text-decoration: underline;
        border-radius: 25px;

    }
</style>
<%- include('./partials/nav.ejs') %>

<section style="height: 100vh;">
    Store
</section>

<%- include('./partials/footer.ejs') %>