@import 'shared/nav.css';
@import 'shared/errPg4.css';
@import 'shared/dashboard.css';
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
