@import 'shared/nav.css';
@import 'shared/errPg4.css';
@import 'shared/dashboard.css';
@import 'shared/footer.css';

@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/products.css';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

footer {
  background-color: #202429;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.error-message {
  color: red;
}
@media only screen and (max-width: 344px) {
  .adminDashboard > a > h1 {
    font-size: 2.5rem;
  }
  .prodGridTxt {
    font-size: 1.5rem;
  }
  .prodGridImg {
    width: 90%;
    padding-left: 22px;
  }
  #prodGridContE {
    margin: auto;
    width: 90%;
  }
  .page-header {
    font-size: 1.5rem;
  }
  .container2 {
    border-radius: 60px;
  }
}
@media only screen and (max-width: 382px) {
  .prodCImgR {
    width: 90vw;
  }
  .form-item {
    margin-left: 0%;
  }
}

@media only screen and (max-width: 466px) {
}
