@import 'shared/nav.css';
@import 'shared/errPg4.css';
@import 'shared/dashboard.css';
@import 'shared/footer.css';

@import 'shared/buttons.css';
@import 'shared/form.css';
@import 'shared/products.css';

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
  color: white;
}

.error-message {
  /* color: hsl(var(--color-danger-hue), 100%, 50%); */
  color: red;
}
