.btn {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: 'Gotham Rounded';
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-row {
  display: flex;
  align-items: flex-start;
}

.btn-row > * {
  margin-left: 1rem;
}

.btn-row > *:first-child {
  margin-left: 0;
}

.btn-primary {
  color: white;
}

.btn-primary:hover {
  background-color: #7cb7d4;
  color: white;
}

.btn-danger {
  color: white;
  background-color: #ffa375;
}

.btn-danger:hover {
  color: white;
}
