<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= product.title %>" />
  </div>

</div>
<div class="form-row">
  <div class="form-item">
    <label>Price in $</label>
    <input type="number" name="price" min="1" value="<%= product.price %>" />
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="cover" class="product-cover filepond" />
  </div>
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= product.description %></textarea>
  </div>
</div>